 
    <div class="site_model"  >
      <div class="modal-header" style="border-bottom:unset">
          <div class="row location-header">
              <div class="col-md-12 head">
                  <img width="35" height="35" src = "./../assets/images/bomb.svg" alt="logo"/>
                  <span class="title" style="margin-left: 10px"><b>Confirm delete</b></span>
                <a  target="_blank" href="https://help.cloudfiler.io/">
                  <img class="float-right " width="28" height="28" src = "./../assets/images/Help-black.svg" alt="help" />
                </a>
              </div>
          </div>
      </div>
  
      <div class="modal-body"  style="margin-left: 1%;">
          <div class="row">
            <div class="col-md-12 note_text">
              <span>
                {{ message }}
              </span>
            </div>
            <div class="col-md-12 note_text">
              <span>
                {{ second_message }}
              </span>
            </div>
          </div>
          
          <div class="row modal-footer">
              <div class="col-md-12 ">
                  <button type="button" class="btn btn-primary modal-btn  float-right" (click)="decline()" >{{ btnCancelText }}</button>
                  <button type="button" class="btn btn-primary  modal-btn float-right"  (click)="accept()" >{{ btnOkText }}</button>
              </div>
          </div>
      </div>
    </div>
   
 
  