<div class=" listingtab" style="width: 100%; font-size: 19px !important;">
  <div class="row">
    <div class="col-md-12 col-sm-12">

      <div>
        <div class=" " id="location" role="tabpanel" aria-labelledby="location-tab">
          <div class="row location-row1">
            <div class="col-sm-8 col-xs-10">
              <div class="title-div">
                <img class="w_sm_32" width="40" height="40" src="./../assets/images/cog.svg" alt="logo" /><span
                  class="location-span title">Your
                  settings</span>
              </div>
            </div>

            <div class="col-sm-1 col-xs-1 " style="float: right;">
              <img class="float-right " width="40" height="40" src="./../assets/images/Help-black.svg" alt="logo" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="warning">
              NOTE: Greyed out settings are enforced by your employer
              </div>
            </div>
          </div>

          <!-- <div class="row">

            <div class="col-md-6">

              <div class="note">
                <p class="text-danger">NOTE: Greyed out settings are enforced by your employer
                </p>
              </div>

              <div class="d-flex direction_sm_column">

                <div class="uponfile" [ngClass]="{'disabled': !yourSetting?.addin_settings?.show_viral_footer }">

                  <span>Upon filing messages:</span>

                  <div class="dropdown show-data setting_dropdown">
                    <a class="dropdown-toggle user-email" data-toggle="dropdown" href="#" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      Move to '{{ yourSetting?.addin_settings_move_filed_incoming_messages_to}}' folder
                      <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let setting of yourSetting;"><a
                          (click)="changeSetting('addin_settings_move_filed_incoming_messages_to', setting.value)">{{setting.value}}</a>
                      </li>
                      <li><a (click)="changeSetting('addin_settings.move_filed_messages_to.value', 'none')">Do
                          Nothing</a></li>
                      <li><a (click)="changeSetting('addin_settings.move_filed_messages_to.value', 'filed')">Move to
                          Filed</a></li>
                      <li><a (click)="changeSetting('addin_settings.move_filed_messages_to.value', 'trash')">Move to
                          Trash</a></li>
                    </ul>
                    <p>Below is a mock ui element, doesn't do anything</p>
                    <ul class="dropdown-menu " id="testDropdown">
                      <li><a (click)="changeSetting('dropdwon', 'doNothing1')">dropdwon text1</a></li>
                      <li><a (click)="changeSetting('dropdwon', 'doNothing2')">dropdwon text2</a></li>
                      <li><a (click)="changeSetting('dropdwon', 'doNothing3')">dropdwon text3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

            <!-- <div class="d-flex"> -->
            
            <div class="row">
              <div class="uponfile">
                <span>Upon Filing a message:</span>
                <div class="row settings-row">
          
                  <div class="dropdown show-data setting_dropdown">
                    <div class="col-sm-1 col-xs-12"></div>
                    <div class="col-sm-2 col-xs-12 ">
                      <span>Sent messages:</span>
                    </div>
                    <div class="col-sm-9 col-xs-10 ">
                      <a class="dropdown-toggle user-email" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false" readOnly=yourSetting?.addin_settings_move_filed_sent_messages_to_locked>
                        {{ yourSetting?.addin_settings_move_filed_sent_messages_to_value == "Filed"? "Move to 'Filed' folder" :
                        yourSetting?.addin_settings_move_filed_sent_messages_to_value == "Deleted Items" ? "Move to 'Deleted Items' folder" : "Leave message in its folder"}}
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu " id="filedSentMessageLocationDropdown">
                        <li><a (click)="changeFiledSentMessageLocationSetting('None')">Leave message in its folder</a></li>
                        <li><a (click)="changeFiledSentMessageLocationSetting('Filed')">Move to 'Filed' folder</a></li>
                        <li><a (click)="changeFiledSentMessageLocationSetting('Deleted Items')">Move to 'Deleted Items' folder</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
      
                  
    
                <div class="row settings-row">
                  <div class="dropdown show-data setting_dropdown">
                  <div class="col-sm-1 col-xs-12"></div>
                  <div class="col-sm-2 col-xs-12 ">
                    <span>Other messages:</span>
                  </div>
                  <div class="col-sm-9 col-xs-10 ">
                      <a class="dropdown-toggle user-email" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        {{ yourSetting?.addin_settings_move_filed_messages_to_value == "Filed"? "Move to 'Filed' folder" :
                        yourSetting?.addin_settings_move_filed_messages_to_value == "Deleted Items" ? "Move to 'Deleted Items' folder" : "Leave message in its folder"}}
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu " id="filedMessageLocationDropdown">
                        <li><a (click)="changeFiledMessageLocationSetting('None')">Leave message in its folder</a></li>
                        <li><a (click)="changeFiledMessageLocationSetting('Filed')">Move to 'Filed' folder</a></li>
                        <li><a (click)="changeFiledMessageLocationSetting('Deleted Items')">Move to 'Deleted Items' folder</a></li>
                      </ul>
                  </div>
                  </div>
                </div>
                <div class="row settings-row">
                  <div class="col-sm-1 col-xs-12"></div>
                  <div class="col-sm-11 col-xs-12">
                    <img _ngcontent-gjg-c120="" width="30" height="30"
                      [src]=" yourSetting?.addin_settings_mark_filed_messages_subject_value == true ?'./../assets/images/checkbox-checked-outline.svg':'./../assets/images/checkbox-unchecked-outline.svg'"
                      (click)="markMessageSubject()" alt="logo">
                    <span>Add filed date to Subject</span>
                    <div class="tooltipwrap">
                      <img _ngcontent-nil-c120="" width="30" height="30" src="./../assets/images/info.svg" alt="logo">
                      <span class="tooltiptext">
                        <b> Checked behaviour:</b>
                        <br>
                        The date is added to the message subject line in the format
                        <b>
                          [Filed on 2038-05-23]
                        </b>
                  
                  
                        <br />
                        <b> Unchecked behaviour:</b> <br>
                        The subject line is not changed
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row settings-row">
                  <div class="col-sm-1 col-xs-12"></div>
                  <div class="col-sm-11 col-xs-12">
                    <img _ngcontent-gjg-c120="" width="30" height="30"
                      [src]=" yourSetting?.addin_settings_mark_filed_messages_category_value == true ?'./../assets/images/checkbox-checked-outline.svg':'./../assets/images/checkbox-unchecked-outline.svg'"
                      (click)="markMessageCategory()" alt="logo">
                    <span>Add CloudFiler category flag</span>
                    <div class="tooltipwrap">
                      <img _ngcontent-nil-c120="" width="30" height="30" src="./../assets/images/info.svg" alt="logo">
                      <span class="tooltiptext">
                        <b> Checked behaviour:</b>
                        <br>
                        Messages are marked with a CloudFiler category
                        <b>
                          Filed to CloudFiler
                        </b>
                  
                  
                        <br />
                        <b>Unchecked behaviour:</b> <br>
                        No category is added
                      </span>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="uponfile">
                <span>When drafting an email:</span>
              <div class="row settings-row">
                <div class="col-sm-1 col-xs-12"></div>
                <div class="col-sm-11 col-xs-12 ">
                  <img _ngcontent-gjg-c120="" width="30" height="30"
                    [src]=" yourSetting?.addin_settings_auto_file_sent_emails_value == true ?'./../assets/images/checkbox-checked-outline.svg':'./../assets/images/checkbox-unchecked-outline.svg'"
                    (click)="toggleAutoFileSentEmails()" alt="logo">
                  <span>Automatically select the suggested filing location</span>
                  <div class="tooltipwrap">
                    <img _ngcontent-nil-c120="" width="30" height="30" src="./../assets/images/info.svg" alt="logo">
                    <span class="tooltiptext">
                      <b> Checked behaviour:</b>
                      <br>
                      CloudFiler will automatically select the top-most suggested filing location
                
                
                      <br />
                      <b>Unchecked behaviour:</b> <br>
                      Emails are only filed when the user selects a filing location
                    </span>
                  </div>
                </div>
              </div>

              <!-- <img _ngcontent-gjg-c120="" width="30" height="30"
                  [src]=" yourSetting?.addin_settings_move_filed_messages_to_value == true ?'./../assets/images/checkbox-checked-outline.svg':'./../assets/images/checkbox-unchecked-outline.svg'"
                  (click)="updateMessageFilingLocation()" alt="logo">
                <span>On successfully Filing a message: Do nothing, Move to Trash, Move to Filed Folder
                  {None, Trash, Filed}</span> -->
              <!-- <div class="tooltipwrap">
                  <img _ngcontent-nil-c120="" width="30" height="30" src="./../assets/images/info.svg" alt="logo">
                  <span class="tooltiptext">
                    <b> Checked behaviour:</b>
                    <br>
                    The date is added to the message subject line in the format
                    <b>
                      [Filed on 2038-05-23]
                    </b>
          
          
                    <br />
                    <b> Unchecked behaviour:</b> <br>
                    The subject line is not changed
                  </span>
                </div> -->
            </div>
            <!-- <img _ngcontent-gjg-c120="" width="30" height="30"
                  [src]=" yourSetting?.addin_settings_move_filed_sent_messages_to_value == true ?'./../assets/images/checkbox-checked-outline.svg':'./../assets/images/checkbox-unchecked-outline.svg'"
                  (click)="updateSentMessageFilingLocation()" alt="logo">
                <span>On successfully Filing a sent message: Do nothing, Move to Trash, Move to Filed Folder
                   {None, Trash, Filed}
                </span> -->
            <!-- <div class="tooltipwrap">
                  <img _ngcontent-nil-c120="" width="30" height="30" src="./../assets/images/info.svg" alt="logo">
                  <span class="tooltiptext">
                    <b> Checked behaviour:</b>
                    <br>
                    The date is added to the message subject line in the format
                    <b>
                      [Filed on 2038-05-23]
                    </b>
          
          
                    <br />
                    <b> Unchecked behaviour:</b> <br>
                    The subject line is not changed
                  </span>
                </div> -->

        <!-- </div> -->

        <!-- <div class="row">
            <div class="col-md-8">
              <div class="location-row1 notifications">
                  <img width="40" height="40" src="./../assets/images/envelope.svg" alt="logo" /><span class="location-span">
                    Notifications</span>
              </div>
              <div class="checkboxlist">
                <img _ngcontent-gjg-c120="" width="30" height="30"
                  src="./../assets/images/checkbox-checked-outline.svg" alt="logo">
                <span>
                  CloudFiler news (We will rarely email you with news which is typically about new features in the product)
                 </span>

              </div>
              <div class="checkboxlist">
                <img _ngcontent-gjg-c120="" width="30" height="30"
                  src="./../assets/images/checkbox-checked-outline.svg" alt="logo">
                <span>
                  CloudFiler offers (From time to time we provide special offers and discounts)
                 </span>

              </div>
            </div>
          </div> -->

      </div>




      <br><Br> <br><Br><br><Br><br><Br><br>




    </div>
  </div>

</div>